.page-header {
  color: $main-light;
  background-color: $main-dark;
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
