@import "fonts.scss";
@import "colours.scss";
@import "visually-hidden.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: "Raleway", "Arial", sans-serif;
  color: black;
  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-style: none;
}

@import "blocks/wrapper.scss";
@import "blocks/page-header.scss";
@import "blocks/about-us.scss";
@import "blocks/statistics.scss";

.hidden {
  display: none;
}
